@font-face {
    font-family: "bebas";
    src: 
        url("fonts/webfontkit-20250702-013459/bebasneue-regular-webfont.woff") format("woff"),
        url("fonts/webfontkit-20250702-013459/bebasneue-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: "bebas", serif;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0px;
}

.sidebar {
    box-sizing: border-box;
    background-image: url(asset/hannah-grace-Los9FHOLZfo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 5px solid #502e1e;
}

.container {
    position: relative;
    box-sizing: border-box;
    background-image: url(asset/k8-qX1d8KT18kk-unsplash.jpg);
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 5px solid #54371f;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5, minmax(90px, 1fr));
    grid-template-rows: repeat(3, minmax(70px, 1fr));
    z-index: -1;
}

dialog:not([open]) {
    display: none;
}

::backdrop {
    backdrop-filter: blur(5px);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.addbutton {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    bottom: 40px;
}

.card1 {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
}

.overlay {
    pointer-events: none;
}